html {
  scroll-behavior: smooth;
}
body {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(221, 183, 166, 1) 66%,
    rgba(212, 233, 148, 1) 100%
  );
}
h1 {
  font-family: "Google Sans", sans-serif;
}
h3 {
  font-family: "Playwrite NZ Basic", cursive;
}
p {
  font-family: "Oldenburg", serif;
}
a {
  font-family: "SN Pro", sans-serif;
}
